@model IEnumerable<MotoCredito.Entity.Prestamo>

@{
    ViewBag.Title = "Prestamos";
}

<h2>Prestamos</h2>

<p>
    @Html.ActionLink("Nuevo Prestamo", "Create")
</p>


<table class="table" id="generalTable">
    <thead>
        <tr>
            <th>
                <label>Numero Prestamo</label>
            </th>
            <th>
                <label>Nombre Cliente</label>
            </th>
            <th>
                <label>Modelo del Vehiculo</label>
            </th>

            <th>
                <label>Placa</label>
            </th>
            <th>
                <label>Fecha Apertura</label>
            </th>

            <th>
                <label>Monto Prestamo</label>
            </th>
            <th>
                <label>Cantidad de Cuotas</label>
            </th>
            <th>
                <label>Monto Cuota</label>
            </th>
            <th>
                <label>Mora</label>
            </th>
            <th>
                <label>Capital Restante</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nombres)  @Html.DisplayFor(modelItem => item.Clientes.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo.Descripcion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NoPlaca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaApertura)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.MontoPrestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tiempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.moraTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceRestante)
                </td>
                <td>
                    @Html.ActionLink("aplicar Pago", "aplicarPago", new { id = item.Id }) |
                    @*@Html.ActionLink("aplicar Pago Masivos", "aplicarPagosMasivos", new { id = item.Id }) |*@
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id })|
                    @if (item.tieneMora)
                    {
                        @Html.ActionLink("Moras", "editarMora", new { prestamoId = item.Id })
                    }
                </td>
            </tr>
}
      
    </tbody>
</table>

