@model MotoCredito.Entity.TipoPrestamo

@{
    ViewBag.Title = "Nuevo Tipo de Prestamo";
}

<h2>Nuevo Tipo de Prestamo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Tipo de Prestamo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
       <label class = "control-label col-md-2">Descipcion</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class = "control-label col-md-2">% Tasa de Interes</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.InteresPrestamo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InteresPrestamo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class = "control-label col-md-2">% Tasa Interes de Mora</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.InteresMora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InteresMora, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class = "control-label col-md-2">% Tasa de Interes en Saldo</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.InteresSaldo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InteresSaldo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class = "control-label col-md-2">Dias de Gracias</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiasGraciaMora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiasGraciaMora, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}


